* {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    list-style: none;
    margin: 0 auto;
    width: 600px;
}

.nav li a {
    display: block;
    margin: 50px auto;
    color:darkgreen;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}